<app-navigation></app-navigation>
<app-bandeau></app-bandeau>

<h2>Mon profil</h2>
<form (ngSubmit)="submit(monForm, champNom)" #monForm="ngForm">

  <label>Nom : </label><input type="text" class="form-control" [(ngModel)]="monStagiaire.nom" #champNom="ngModel" name="champNom" required minlength="3" maxlength="75">
  <div *ngIf="champNom.invalid && champNom.dirty">
      Veuillez entrer un nom correct
  </div>
  <br>
  <label>Prénom : </label><input type="text" class="form-control" [(ngModel)]="monStagiaire.prenom" #champPrenom="ngModel" name="champPrenom" required minlength="3" maxlength="75">
  <div *ngIf="champPrenom.invalid && champPrenom.dirty">
      Veuillez entrer un prénom correct
  </div>
  <br>
  <label>Email : </label><input type="email" class="form-control" [(ngModel)]="monStagiaire.email" email="true" #champEmail="ngModel" name="champEmail" required minlength="3" maxlength="75">
  <div *ngIf="champEmail.invalid && champEmail.dirty">
      Veuillez entrer un email correct (il doit y avoir un '@' entre autre)
  </div>
  <br>
  <label>Photo Url : </label><input type="url" placeholder="https://example.com" pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$" 
    class="form-control" [(ngModel)]="monStagiaire.photo_url" #champPhotoUrl="ngModel" name="champPhotoUrl" required>
  <div *ngIf="champPhotoUrl.invalid && champPhotoUrl.dirty">
      Veuillez entrer un url correct
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Mofifier</button>
</form>
