<h1>{{concours[idConcours-1].titre}} ({{concours[idConcours-1].nb_quizzes}} questionnaires)</h1>

<form class="form-check" (ngSubmit)="submit(monForm)" #monForm="ngForm">
    
    <h2>{{question.titre}}</h2>

    <div class="input-group" *ngFor="let opt of question.options">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" name="option" value="{{opt.id}}" id="{{opt.id}}" [(ngModel)]="idReponse" required>
              </div>
            </div>
            <input type="label" class="form-control" value="{{opt.libelle}}">
          </div>


    <button type="submit" class="btn btn-primary" [disabled]="!idReponse">Valider</button>
</form>