<h1>{{concours[idConcours-1].titre}} ({{concours[idConcours-1].nb_quizzes}} questionnaires)</h1>

<form class="form-check" (ngSubmit)="submit(monForm)" #monForm="ngForm">
    
    <h2 *ngIf="questions!=null">{{question.titre}}</h2>

    <div *ngFor="let opt of question.options" class="container">
        <div class="row">
            <div class="col">
                <label>{{opt.libelle}}</label>
            </div>
            <div class="col">
                <input class="form-check-input" type="radio" name="option" value="opt.id" required>
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Valider</button>
</form>